<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/icons8-raspberry-pi-zero-48.png"/>
  </head>
  <body>
    {% include navigation.html %}

    {% if page.url == "/" %}
    <div class="flex-container">
      <div class="left">
        {{ content }}
      </div>
      <div class="right">
        {% include rcol.html %}
      </div>
    </div>
    <h6 class="right">rss: <span class="yellow">rustyelectron.live/feed.xml</span></h6>
    {% else %}
    {{ content }}
    {% endif %}
    
  </body>
</html>
